* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#dark_mode label {
    position: absolute;
    width: 45px;
    height: 22px;
    right: 20px;
    top: 20px;
    border: 2px solid;
    border-radius: 20px;
}

#dark_mode label:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
    transition: 0.4s;
}

#dark_mode label.active:before {
    left: 24px;
    background: #fff;
}

body.night {
    background: black;
    color: #fff;
    font-size: large;
}

@media screen and (min-width:900px) {
    .respon {
        display: flex;
    }
}

.page {
    width: 250px;
    height: 350px;
    top: 20%;
    left: 35%;
    border-radius: 13px;
    position: absolute;
    background-color: rgb(147, 184, 185);
    padding: 25px;
}

.page h3 {
    width: 220px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    padding: 8px;
    margin: 8px;
}

.page icon {
    width: 220px;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-align: center;
}

#emailbox,
#pass {
    width: 220px;
    position: relative;
    top: 5%;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black .5px;
}

#button {
    background-color: aquamarine;
    width: 120px;
    position: relative;
    left: 25%;
    top: 20px;
    border-radius: 7px;
}

#button:hover {
    background-color: rgb(160, 204, 15);
    padding-top: 3px;
    cursor: progress;
}

.signup {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    padding-top: 40px;
    text-align: center;
}

.here {
    position: relative;
    top: 8px;
    cursor: pointer;
}

.LoginWith {
    padding-top: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.tag ion-icon {
    color: black;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 8px;
    border: none;
}

.tag ion-icon:hover {
    transition: 0.3sec;
    color: white;
    cursor: crosshair;
}